/* NAVIGATION BAR */
.navbar.navbar-default {
    opacity: 0.7;
}
.navbar-brand img {
    height: 2vh;
}
body {
    background: url("/IMG/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat:no-repeat;
}
/* NAVIGATION BAR */

/* LEFT SIDE TEXT */
.text {
color: rgba(26, 25, 25, 0.623);
margin-left: 10vh;
}
/* LEFT SIDE TEXT */

/* RIGHT SIDE */
#right{
float: right;
width: 50%;
height: 100%;
background: white;
margin-right: 5vh;
margin-bottom: 2vh;
}
/* RIGHT SIDE */

/* FACE */
    /* FACE ROTATION */
    .rotate{
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
        
        overflow:hidden;
        
        }
        
        .rotate:hover
        {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        }
    /* FACE ROTATION */
    
    /* FACE CENTERING */
    #face {
        height: 50vh;
        width: 50vh;
        margin-left: 20vh;
        margin-top: 10vh;
    }
    /* FACE CENTERING */
/* FACE */


/* BUTTON EFFECTS */
.btn.btn-primary.btn-md {
    margin-left: 38vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    opacity: 0%;
    background: none;
    padding: 12px 22px;
    border: 2px solid #8a5d2a;
    color: #422918;
}
a{
    color: #422918;
}
.btn.btn-primary.btn-md a:hover{
    text-decoration: none;
    color: #422918;
}
/* BUTTON EFFECTS */

/* BOTTOM */
.jumbotron {
    margin-top: 40vh;
    background-color: white;
    width: 100%;
    float: left;
    text-align: center;
    height: 10vh;
}
.jumbotron a:hover{
    text-decoration: none;
    color: black;
}
/* BOTTOM */
